<main class="main-content">
    <div class="category-grid">
        <div class="categoryTable">
            <div class="card">
                <div class="header">
                    <h3>Category List</h3>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#addCategory">Add New Category
                        <span class="las la-add"></span>
                    </button>
                </div>

                <!-- Add Category Modal -->
                <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/admin/category/addCategory" method="post"
                                onsubmit="return categoryValidate()" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Image</label>
                                        <input type="file" class="form-control" name="categoryImage" value="" id="categoryImage">
                                    </div>
                                    <div>
                                        <label for="" class="form-label">Category Name</label>
                                        <input type="text" class="form-control" name="categoryName" id="categoryName">
                                        <span class="validationError" id="catergoryError"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                    <button type="submit" class="btn btn-primary">SAVE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Update Category Modal -->
                <div class="modal fade" id="updateCategory" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/admin/category/update" method="post" id="formData" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <input style="display: none;" type="text" id="categoryID" name="categoryID">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Image</label>
                                        <input type="file" class="form-control" name="editCategoryImage" value="" id="editCategoryImage">
                                    </div>
                                    <div>
                                        <label for="">Category Name</label>
                                        <input type="text" name="categoryName" id="editCategoryName" value="">
                                        <span class="validationError" id="catergoryError"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%" id="category_Table">
                            <thead class="category">
                                <tr>
                                    <td>SL NO.</td>
                                    <td>Category Name</td>
                                    <td>Images</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var i=0; i<category.length; i++) { %>
                                    <tr class="table-data">
                                        <td class="slno"></td>
                                        <td>
                                            <%= category[i].categoryName %>
                                        </td>
                                        <td>
                                            <img style="object-fit: contain;" src="/images/<%= category[i].categoryPicture %>" width="30px" height="30px" alt="">
                                        </td>
                                        <td>
                                            <!-- /admin/category/edit?id=<%= category[i]._id %> -->
                                            <a style=" text-decoration: none; border-radius: 20px; padding: 10px; color: #fff; border: 0px; background: #5E4548;" href=""
                                                data-bs-toggle="modal" data-bs-target="#updateCategory"
                                                onclick="categoryEdit('<%= category[i]._id %>','<%= category[i].categoryName %>')">Edit</a>
                                            <a style="text-decoration: none; background: #0d6efd; border-radius: 20px; padding: 10px; color: #fff; border: 0px;"
                                                href="/admin/category/delete?id=<%= category[i]._id %>"
                                                >Delete</a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function categoryEdit(id, categoryName) {
        let editName = document.getElementById('editCategoryName');
        let categoryID = document.getElementById('categoryID')

        editName.value = categoryName;
        categoryID.value = id
    }

    $(document).ready(function () {
    $('#category_Table').DataTable();
});
</script>