<main class="main-content">
    <div class="container-fluid coupon">
        <div class="row">
            <a href="/admin/couponCreate" class="btn btn-primary" style="width: auto;">Create Coupon</a>
        </div>
    </div>
    <div class="card mt-3 coupon-table">
        <div class="card-body">
            <div class="table-responsive">
                <table width="100%" id="couponTable">
                    <thead>
                        <tr>
                            <th>Offer Name</th>
                            <th>Coupon Code</th>
                            <th>Mode</th>
                            <th>Offer Type</th>
                            <th>Amount</th>
                            <th>Per(%)</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Usage</th>
                            <th>Action</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (values of coupons_list) { %>
                            <tr>
                                <td><%= values.offer_Name %></td>
                                <td><a href="#"><%= values.coupon_Code %></a></td>
                                <td><%= values.offer_Method %></td>
                                <td><%= values.offer_Type %></td>
                                <td><%= values.discount_Amount %></td>
                                <td><%= values.discount_Percentage %></td>
                                <td><%= values.start_Date %></td>
                                <td><%= values.end_Date %></td>
                                <td><%= values.status %></td>
                                <td><%= values.total_User %></td>
                                <!-- <td><a href="#" >Delete</a></td> -->
                                <td><span for="" style="cursor: pointer; color: #0d6efd;" onclick="couponDelete('<%= values._id %>')">Delete</span></td>
                                <td><a href="#">History</a></td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {
        $('.couponCreate').change(function () {
            if ($(this).is(':checked')) {
                $("div#couponForm").show();
                $("div#couponForm").children().prop('disabled', false);
            } else {
                $("div#couponForm").hide();
                $("div#couponForm").children().prop('disabled', true);
            }
        });

        let offerType = document.getElementById('offerType')
        offerType.addEventListener('change', (e) => {
            e.preventDefault()
            if (offerType.value == "Flat") {
                document.getElementById('couponAmount').style.display = "block";
                document.getElementById('couponAmount').style.display = "block";
            } else if (offerType.value == "Percentage") {
            }
        })
    });

    $(document).ready(function () {
        $('#couponTable').DataTable();
    });
    function couponDelete(couponID){
        fetch('/admin/coupon/delete',{
            method: 'DELETE',
            headers: {'Content-Type':'application/json'},
            body: JSON.stringify({couponID})
        }).then(res => res.json()).then(data =>{
            window.location.reload()
        }).catch((error)=>{
            console.log(error.message);
        })
    }
</script>