<main class="main-content">
    <div class="product-grid">
        <div class="card">
            <div class="header">
                <h3>Users List</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%" id="user_Table">
                        <thead>
                            <tr>
                                <th style="width: 55px;">SL NO.</th>
                                <th>User ID</th>
                                <th style="width: 25%;">User Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0;i<usersList.length;i++) { %>
                                <tr class="table-data">
                                    <td class="slno"></td>
                                    <td>
                                        <%= usersList[i]._id %>
                                    </td>
                                    <td>
                                        <%= usersList[i].user_Name %>
                                    </td>
                                    <td>
                                        <%= usersList[i].user_Email %>
                                    </td>
                                    <td>
                                        <%= usersList[i].mobile_No %>
                                    </td>
                                    <td>
                                        <% if (usersList[i].state=="active" ) { %>
                                            <button onclick="userBlock('<%= usersList[i]._id %>')"
                                                style="background: #5E4548;" href="" class="btn btn-primary">BLOCK</button>
                                            <% } else{ %>
                                                <button onclick="userUnBlock('<%= usersList[i]._id %>')" style="background: #c5cf64;" href="" class="btn btn-primary">UN
                                                    BLOCK</button>
                                                <% } %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('#user_Table').DataTable();
    });



    function userBlock(userID){
        fetch('/admin/userManagement/block',{
            method: 'POST',
            headers: {'Content-Type':'application/json'},
            body: JSON.stringify({userID})
        }).then(()=>{
            window.location.reload();
        }).catch((error) => {
            console.error('Error:', error);
        });
    }

    function userUnBlock(userID){
        fetch('/admin/userManagement/unBlock',{
            method: 'POST',
            headers: {'Content-Type':'application/json'},
            body: JSON.stringify({userID})
        }).then(() => {
            window.location.reload()
        }).catch((error) => {
            console.error('Error:', error);
        });
    }
</script>