<main class="main-content">
    <div class="product-grid">
        <div class="card">
            <div class="header">
                <h3>Product List</h3>
                <a href="/admin/addProduct">Add New Product
                    <span class="las la-add"></span>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>SL NO.</td>
                                <td>Category</td>
                                <td>Brand</td>
                                <td style="width: 25%;">Product Name</td>
                                <td>Price</td>
                                <td>Total Qty</td>
                                <td>Sold</td>
                                <td style="width: 15%;">Action</td>
                            </tr>
                        </thead>
                        <tbody>

                            <% for (values of product) { %>
                                <tr class="table-data">
                                    <td class="slno"></td>
                                    <td><%= values.categoryItem[0].categoryName%></td>
                                    <td><%= values.brandItem[0].brandName %></td>
                                    <td><%= values.product_Name%></td>
                                    <td><span>₹ </span><%= product.selling_Price%></td>
                                    <td><%= values.stock_In_Hand%></td>
                                    <td></td>
                                    <td>
                                        <a style="background: #5E4548;" href="/admin/productUpdate?id=<%= values._id %>" class="btn btn-primary">Edit</a>
                                        <a style="background: #B05541;" href="/admin/Product/delete?id=<%= values._id %>" class="btn btn-primary">Delete</a>
                                    </td>
                                </tr>
                                <% } %>





                            <!-- <% for(var i=0;i<product.length;i++) { %>
                            <tr class="table-data">
                                <td class="slno"></td>
                                <td><%= product[i].category_Name%></td>
                                <td><%= product[i].product_Name%></td>
                                <td><span>₹ </span><%= product[i].selling_Price%></td>
                                <td><%= product[i].stock_In_Hand%></td>
                                <td></td>
                                <td>
                                    <a style="background: #5E4548;" href="/admin/productUpdate?id=<%= product[i]._id %>" class="btn btn-primary">Edit</a>
                                    <a style="background: #B05541;" href="/admin/Product/delete?id=<%= product[i]._id %>" class="btn btn-primary">Delete</a>
                                </td>
                            </tr>
                            <% } %> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>