<main class="main-content">
    <div class="product-grid">
        <div class="card">
            <div class="header">
                <h3>Product List</h3>
                <a href="/admin/addProduct">Add New Product
                    <span class="las la-add"></span>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%" id="example">
                        <thead>
                            <tr>
                                <th>SL NO.</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Total Qty</th>
                                <th>Sold</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (values of product) { %>
                                <tr class="table-data">
                                    <td class="slno"></td>
                                    <td><%= values.categoryItem[0].categoryName%></td>
                                    <td><%= values.brandItem[0].brandName %></td>
                                    <td style="max-width: 250px;"><%= values.product_Name%></td>
                                    <td><span>₹ </span><%= values.selling_Price%></td>
                                    <td><%= values.stock_In_Hand%></td>
                                    <td><%= values.sold %></td>
                                    <td>
                                        <div class="d-flex">
                                            <a style="background: #5E4548; font-size: 12px; color: #fff;" href="/admin/productUpdate?id=<%= values._id %>" class="btn me-2">Edit</a>
                                        <a style="background: #B05541; font-size: 12px; color: #fff;" href="/admin/Product/delete?id=<%= values._id %>" class="btn">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
    $('#example').DataTable();
});
</script>